<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:left"> -->

  <h1>{{title}}</h1>
  <nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
  </nav>
  <!-- <app-heroes></app-heroes> -->
  <router-outlet></router-outlet>
  <app-messages></app-messages>


  <!-- 
    Copyright 2017-2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license
    -->
  <!--added additionally for learning-->
  <iframe src='//players.brightcove.net/1813624294001/f83fb7f6-75c0-411c-872c-ab6095a19211_default/index.html?videoId=4855494617001'
    allowfullscreen frameborder=0></iframe>
  <iframe src='//players.brightcove.net/1160438696001/SJaEAUSpl_default/index.html?videoId=4592378961001' allowfullscreen frameborder=0></iframe>
<!-- </div> -->